In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as sns

In [8]:
df=pd.read_csv("Medical_insurance.csv")

In [9]:
df.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [10]:
df.drop(columns=["age","sex","children"],axis=1,inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   bmi      2772 non-null   float64
 1   smoker   2772 non-null   object
 2   region   2772 non-null   object
 3   charges  2772 non-null   float64
dtypes: float64(2), object(2)
memory usage: 86.8+ KB

In [12]:
df.describe()

               bmi       charges
count  2772.000000   2772.000000
mean     30.701349  13261.369959
std       6.129449  12151.768945
min      15.960000   1121.873900
25%      26.220000   4687.797000
50%      30.447500   9333.014350
75%      34.770000  16577.779500
max      53.130000  63770.428010

In [13]:
df.isnull().sum()

bmi        0
smoker     0
region     0
charges    0
dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["smoker"]=le.fit_transform(df["smoker"])
df["region"]=le.fit_transform(df["region"])

In [15]:
df.head()

      bmi  smoker  region      charges
0  27.900       1       3  16884.92400
1  33.770       0       2   1725.55230
2  33.000       0       2   4449.46200
3  22.705       0       1  21984.47061
4  28.880       0       1   3866.85520

In [16]:
x=df.drop(columns="charges",axis=1)
x.head()

      bmi  smoker  region
0  27.900       1       3
1  33.770       0       2
2  33.000       0       2
3  22.705       0       1
4  28.880       0       1

In [17]:
y=df[["charges"]]
y.head()

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [18]:
from sklearn.preprocessing import MinMaxScaler
scale=MinMaxScaler()
x_scaled=pd.DataFrame(scale.fit_transform(x),columns = x.columns)
y_scaled= pd.DataFrame(scale.fit_transform(y),columns = y.columns)

In [19]:
x_scaled

           bmi  smoker    region
0     0.321227     1.0  1.000000
1     0.479150     0.0  0.666667
2     0.458434     0.0  0.666667
3     0.181464     0.0  0.333333
4     0.347592     0.0  0.333333
...        ...     ...       ...
2767  0.789884     0.0  0.666667
2768  0.501480     0.0  1.000000
2769  0.270917     1.0  0.333333
2770  0.074119     0.0  0.333333
2771  0.420769     0.0  1.000000

[2772 rows x 3 columns]

In [20]:
y_scaled

       charges
0     0.251611
1     0.009636
2     0.053115
3     0.333010
4     0.043816
...        ...
2767  0.118885
2768  0.014339
2769  0.244683
2770  0.326799
2771  0.139326

[2772 rows x 1 columns]

In [21]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=42)

In [22]:
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((1940, 3), (832, 3), (1940, 1), (832, 1))

In [23]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
lm.fit(xtrain,ytrain)

LinearRegression()

In [24]:
y_pred=lm.predict(xtest)

In [25]:
from sklearn.metrics import r2_score
score=r2_score(y_pred,ytest)
#MEAN SQUARD ERROR
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(ytest, y_pred)
print('Mean Squared Error:', mse)
#ROOT MEAN SQUARED ERROR
import numpy as np
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(ytest, y_pred)
rmse = np.sqrt(mse)
print('Root Mean Squared Error:', rmse)
#MEAN ABSOLUTE ERROR
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(ytest, y_pred)
print('Mean Absolute Error:', mae)
print("r2_score:",score)

Mean Squared Error: 53943168.45169342
Root Mean Squared Error: 7344.601313324872
Mean Absolute Error: 5532.744145224219
r2_score: 0.42671389196859233